# -*- mode: gitignore; -*-

# macOS Directory Layout Files & other strange things
*.DS_Store
*.dSYM

# Valgrind Dumps
*vgdump

# The Program Name
BattleShip

# Object Files
*.o

# Emacs Pollution
*~
\#*\#
*.org
flycheck*.elc
*.projectile
